/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* Obecné styly */
html {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
	font-family: 'Merriweather', serif;
    font-size: 16px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Raleway', serif;
}

input {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding: 5px;
}

.tlacitko {
    display: inline-block;
    min-height: 45px;
    padding: 15px 30px;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

.tlacitko:hover {
    background-color: #DDD;
}

.okTlac {
    background-color: lightskyblue;
}

.okTlac:hover {
    background-color: #29709b;
    color: #FFF;
}

/* Formular */
#formular {
    position: absolute; 
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 450px;
    height: 400px;
    background-color: #FFF;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;
}

#formular.zobrazit {
    display: block;
}

.formular-hlavicka {
    background-color: lightskyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}

.formular-hlavicka h2 {
    padding: 0;
    margin: 0;
}

.formular-obsah {
    padding: 20px;
}

.formular-obsah table {
    width: 100%;
}

.formular-obsah td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formular-obsah input {
    width: 100%;
}

.formular-obsah .tlacitka {
    text-align: right;
    margin-top: 20px;
}

.formular-obsah .tlacitka button {
    margin-left: 20px;
}


body::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

body.zobrazit::after {
    display: block;
}


/* Hlavicka */
.hlavicka {
    background: linear-gradient(lightskyblue, #29709b);
    min-height: 450px;
}

.hlavicka-obsah {
    width: 960px;
    margin: auto;
    background-image: url('bus.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 250px;
    padding: 50px;
    font-variant: small-caps;
}

.titulek {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.hlavicka h1 {
    display: block;
    font-size: 60px;
    line-height: 100%;
}

.hlavicka p {
    font-size: 30px;
}

/* Obsah */
.obsah {
    width: 960px;
    position: relative;
    margin: auto;
    margin-top: -80px;
    background-color: #FFF;
    padding: 30px;
    box-shadow: 5px 5px 10px #555;
}

.obsah h2 {
    margin-top: 0;
}

#pasazeri {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#pasazeri th {
    text-align: left;
    padding: 20px;
    background-color: gainsboro;
}

#pasazeri td {
    padding: 10px 5px 10px 20px;
}

#pasazeri tr:nth-child(even) {
    background-color: #EEE;
}
#pasazeri tr:nth-child(odd) {
    background-color: #DDD;
}

.rezervace-akce {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.rezervace-akce::before {
    content: "";
    position: absolute;
    top: -20px;
    width: 100%;
    height: 1px;
    background-color: black;
}

/* Patička */
.paticka {
    width: 960px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
